

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
   
<body>
    <div class="container">
        <form method="post" action="/Contato/ReceberContato">
            <div class="form-group">
                <label for="nome">Nome</label>
                <input type="text" name="nome" class="form-control" id="nome" placeholder="Digite seu nome">
                @Html.ValidationMessage("nome")
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" name="email" class="form-control" id="nome" placeholder="Digite seu email">
                @Html.ValidationMessage("email")
            </div>
            <div class="form-group">
                <label for="assunto">Assunto</label>
                <input type="text" name="assunto" class="form-control" id="assunto" placeholder="Digite seu assunto">
                @Html.ValidationMessage("assunto")
            </div>
            <div class="form-group">
                <label for="messagem">Messagem</label>
                <textarea name="messagem" class="form-control" id="messagem"></textarea>
                @Html.ValidationMessage("messagem")
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
    </div>
</body>
</html>
